services:
  - type: web
    name: my-backend-service
    env: node
    region: frankfurt
    plan: starter
    branch: main
    buildCommand: "npm install"
    startCommand: "node server.js"
    envVars:
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: NODE_ENV
        value: production
